<h2>Products Gallery</h2>

<div class="gallery">
    <div *ngFor="let product of products" class="gallery-item">
        <img [src]="product.images[product.currentImageIndex]" alt="Product Image" class="product-image">

        <div class="product-details">
            <h3>
                <a
                        [title]="product.name + ' details'"
                        [routerLink]="['/products', product.id]"
                >
                    {{ product.name }}
                </a>
            </h3>
            <p *ngIf="product.description">Description: {{ product.description }}</p>
            <p>Rating: {{ product.rating }}</p>
            <p>Price: ₸{{ product.price }}</p>

            <!-- Gallery navigation buttons -->
            <div class="gallery-buttons">
                <button type="button" (click)="prevImage(product)">Previous</button>
                <button type="button" (click)="nextImage(product)">Next</button>
            </div>

            <!-- Share button -->
            <div class="share-buttons">
                <button type="button" (click)="share(product.name, product.link)">Share by Telegram</button>
            </div>
        </div>
    </div>
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
