.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
}

.product-image {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
}

.share-buttons button {
    margin-right: 10px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/